[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.212"
python-dotenv = "*"
streamlit = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
openai = "*"
bs4 = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.10"
